html,body{
	height: 100%;
}
/*body {
    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 12px;
    background-color: whitesmoke;
    
}*/
.username{
	margin-left: 10px;
	
}
.header{
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	z-index: 200;
}
.logo{
	display: block;
	position: absolute;
	width: 250px;
	background-color: #367fa9;
	height: 100%;
	color: white;
	text-align: center;
	line-height: 65px;
	font-size: 30px;
	background-image: url(../../{BD3EB6CE-089B-407B-F949-F44371B3A3C3}.png);
}
.navheader{
	margin-left: 250px;
	background-color:#3c8dbc;
	position: relative;
	height: 100%;
	border-radius: 0;
}
.seider-after{
	width: 250px;
	height: 100%;
	background-color: #222d32;
	position: fixed;
	/*position: absolute;*/
	top: 65px;
	z-index: 100;
}
.seider{
	width: 100%;
	
}

.conspage{
	width: 100%;
	height: 50px;
	
	position: fixed;
	top: 65px;
	z-index: 100;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
	
}
.conspageson{
	margin-left: 250px;
	
	background-color: white;
	height: 100%;
}
.conspageson .breadcrumb {
	height: 100%;
	background-color: white;
	padding-top: 15px;
}
.conspageson .breadcrumb li{
	cursor: pointer;
}
.conspageson .breadcrumb li a{
	text-decoration: none;
}
.content{
	margin-left: 250px;
	position: relative;
	
	
	top: 115px;
}


.clickul{
	height: 100%;
	margin-right: 0;
	
}
.clickul>li{
	height: 100%;
	
}
.clickul>li>a{
	height: 100%;
	line-height: 35px;
	color: white;
	  
}
.clickul>li>a:hover{
	background-color: #337ab7;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

.clickbtn{
	height: 100%;
	margin-left: -1px;
	
}
.clickbtn>button{
	height: 100%;
	border-radius: 0;
	border-width: 0;
	outline: none;
	background-color:#3c8dbc ;
}

.panelclick{
	margin-top: 0 !important;
	border-radius: 0 !important;
	border: none;
	background-color: transparent;
	box-shadow: none;
	
}
.panelclick .panel-heading {
	padding: 0;
	background-color: transparent;
}

.panelclick .panel-heading a{
	cursor: pointer;
	display: block;
	background-color: transparent;
    padding: 15px 15px;
    color:#b8c7ce;
    text-decoration: none;
}
.panelclick .panel-heading a:hover{
	background-color: #1a2226;
	color: white;
}
.panelclick .panel-heading a.active{
	background-color: #1a2226;
	color: white;
}
.panelclick .panel-body{
	border: none !important;
	padding: 0;
}
.panelclick .panel-body>ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #222d32;
}

.panelclick .panel-body>ul>li{
	
	box-sizing: border-box;
}
.panelclick .panel-body>ul>li>a{
	display: block;
	padding: 10px 30px;
	text-decoration: none;
	color:#b8c7ce;
	cursor: pointer;
}
.panelclick .panel-body>ul>li>a:hover{
	color: white;
}

.seiderleft .seider-after,.seiderleft .logo{
	width: 55px;
}
.seiderleft .conspageson,.seiderleft .content,.seiderleft .navheader{
	margin-left: 55px;
	
}

.seiderleft  .panelclick .panel-body a{
	padding: 10px 20px;
	
}

.seiderleft  .panelclick .panel-heading .zi,.seiderleft  .panelclick .panel-heading .pull-right{
	display: none;
}

.seiderleft  .panelclick:hover .panel-heading{
	width: 255px;
	background-color:#222d32 ;	
}

.seiderleft  .panelclick:hover .panel-heading .zi{
	display: inline;
	margin-left: 35px;
}

.seiderleft .panel-collapse{
	margin-left: 55px;
	background-color: #222d32;
	width: 200px;
	position: absolute;
}